.heroBanner {
  position: relative;
  width: 100%;
  height: 620px;
  overflow: hidden;
}
.heroBannerImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.heroBannerContent {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -450px;
  margin-top: -140px;
  width: 900px;
  max-width: 90%;
  text-align: center;
}
.heroBannerH1 {
  font-size: 72px;
  font-weight: 700;
  color: #fdfdff;
}
.heroBannerP {
  font-size: 20px;
  color: #fafdff;
  font-weight: 600;
  margin: 20px 0;
}
.heroBannerButton {
  border: none;
  background: #fff;
  color: #3b82f6;
  padding: 12px 30px;
  border-radius: 10px;
  font-weight: 600;
  cursor: pointer;
}
.heroBannerButton:hover {
  background: #2563eb;
  color: #fff;
}