.allCarsSection {
    padding: 100px 100px;
    background-color: #95a4ac;
    margin: 100px 0 0;
    text-align: center;
}

.allCarsSectionTabs {
    display: flex;
    justify-content: center;
}

.allCarsCards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin: 0 auto;
}

.allCarsCard {
    border-radius: 10px;
    background-color: #fff;
    width: 25%;
    max-height: 450px;
}

.allCarsCardImg {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    width: 100%;
    height: 40%;
}

.allCarsCardContent {
    padding: 20px 20px 0;
    display: flex;
    flex-direction: column;
}

.allCarsCardTitle {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.allCarsCardDesc {
    margin: 0;
    font-size: 13px;
    margin-bottom: 5px;
}

hr {
    margin: 0;
}

.carSpecs {
    padding: 10px 0;
    display: flex;
}

.carSpec {
    width: 33.3333333333%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.carSpec p {
    margin: 4px 0 0;
    font-size: 14px;
}

.carPrice_viewDetail {
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
}

.carPrice {
    font-size: larger;
    font-weight: 600;
}

.carDetailBtn {
    color: rgb(29, 17, 134);
}

.carDetailBtn:hover {
    color: rgb(84, 71, 201);
}